#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
}

td {
  font-size: 100px;
  width: 340px;
  height: 340px;
  border: 1px solid black;
  text-align: center;
}

.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
