#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #121212; /* Fondo oscuro */
  color: #ffffff; /* Texto claro */
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para el tablero */
  background-color: #1e1e1e; /* Fondo del tablero */
}

td {
  font-size: 75px;
  width: 200px;
  height: 200px;
  border: 2px solid #474747; /* Bordes oscuros */
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #ffffff; /* Texto claro */
}

td:hover {
  background-color: #333333; /* Fondo más claro al pasar el mouse */
}

.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0056b3; /* Azul brillante */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.reset-button:hover {
  background-color: #007bff; /* Azul más oscuro al pasar el mouse */
  transform: scale(1.05); /* Efecto de zoom */
}

h1 {
  font-size: 2.5rem;
  color: #ffffff; /* Texto claro */
  margin-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212; /* Fondo oscuro */
}

.message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #444;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}